{% extends 'extends/base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img height="180" class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                    <div class="card-body">
                        <a href="
                            {% if product.featured %}
                                {% url 'featured_product_detail_view' product.slug %}
                            {% else %}
                                {% url 'product_detail_view' product.slug %}
                            {% endif %}
                            ">
                            <h5>
                                {% if product.title|length > 20 %}
                                    {{ product.title|slice:"0:20" }}...
                                {% else %}
                                    {{ product.title }}
                                {% endif %}
                            </h5>
                        </a>
                        {% if product.featured == True %}
                            <span class="badge badge-danger mb-2">
                                Featured
                            </span>
                        {% endif %}
                         <h3>
                             ${{ product.price }}
                         </h3>
                        <p class="lead">
                            {% if product.description|length > 50 %}
                                {{ product.description|slice:"0:50" }}...
                            {% else %}
                                {{ product.description }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}